<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="questionDao" class="ru.otus.pk.spring.dao.QuestionDaoCsv">
        <constructor-arg name="source" value="/csv/questions.csv"/>
    </bean>
    <util:constant id="out" static-field="java.lang.System.out"/>
    <bean id="inOutService" class="ru.otus.pk.spring.service.InOutServiceImpl">
        <constructor-arg name="out" ref="out"/>
    </bean>
    <bean id="questionService" class="ru.otus.pk.spring.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"/>
        <constructor-arg name="inOutService" ref="inOutService"/>
    </bean>
</beans>