<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>

<p>
    <a th:href="@{/books}" href="books.html">Book list</a>
</p>

<form id="edit-form" th:action="@{/books/edit(id=${book.id})}" th:method="post" action="books.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="book-id">ID:</label>
        <input id="book-id" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="book-name">Name:</label>
        <input id="book-name" name="name" type="text" th:value="${book.name}" value="Book name"/>
    </div>

    <div class="row">
        <label for="author">Author:</label>

        <select th:field="*{book.author}" id="author">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"
                    th:selected="${book.author != null && book.author.id == author.id}"
                    th:disabled="${book.id > 0 && book.author.id != author.id}"
            ></option>
        </select>
    </div>

    <div class="row">
        <label for="genre">Genre:</label>

        <select th:field="*{book.genre}" id="genre">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"
                    th:selected="${book.genre != null && book.genre.id == genre.id}"
                    th:disabled="${book.id > 0 && book.genre.id != genre.id}"
            ></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

<form id="delete-form" th:action="@{/books/delete}" th:method="post" action="books.html">
    <div class="row">
        <input id="delete-book-id" th:value="${book.id}" name="id" type="hidden"/>
        <button type="submit" onclick="return confirm('Are you sure you want to delete this book?');">Delete</button>
    </div>
</form>

<div th:hidden="${book.id < 1}">
    <h2>Comments:</h2>

    <table class="books">
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.id}">ID</td>
            <td th:text="${comment.text}">Text</td>
            <td>
                <a th:href="@{/comments/delete(id=${comment.id},bookId=${book.id})}" href="book.html">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form id="comment-form" th:action="@{/comments/add}" th:method="post" th:object="${comment}" action="book.html">
        <div class="row">
            <label for="comment-text">New comment:</label>
            <input id="comment-text" name="text" type="text" value="Comment text"/>
            <input id="comment-book" th:field="*{book}" type="text"/>
        </div>

        <div class="row">
            <button type="submit">Add</button>
        </div>
    </form>
</div>

</body>
</html>
